@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";
@import "~uikit/src/scss/uikit-theme.scss";

body {
  max-width: 640px;
  margin: 0 auto;
}

.header {
  height: 360px;
  background: linear-gradient(140deg, rgba(47,55,68,1) 0%, rgba(62,41,60,1) 50%);

  &__qrCode {
    display: block;
    margin-left: 88%;
    width: 30px;
    height: 30px;
  }

  &__qrCode img {
    max-width: 100%;
    margin: 20px 0;
  }

  &__title {
    color: #fff;
    margin: 10px;
  }

  &__card-subTitle {
    color: rgb(54, 54, 54);
  }

  &__card {
    background-color: #141e28;
    width: 75%;
    height: 170px;
    border-radius: 18px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }

  &__card-title {
    color: #fff;
  }

  &__card-add {
    display: inline;
    vertical-align: baseline;
  }

  &__grid-img {
    top: 10px;
  }

  &__modal {
    border-radius: 20px;
  }

  &__modal p {
    margin: 20px 35px;
  }

  &__modal-img {
    display: block;
    margin: 35px auto;
  }

  &__modal-btn {
    display: inline-flex;
    width: 49.3%;
    border: 1px solid rgb(197, 193, 193);
    box-sizing: border-box;
    color: rgb(59, 59, 248);
    padding: 18px;
  }

  &__modal-btn svg {
    display: none;
  }

}

.main {
  
  &__background {
    background-color: #eef1f7;
    height: 70px;
  }

  &__container--round {
    border-radius: 100%;
    width: 20px;
  }

  &__grid {
    top: -55px;
  }

  &__grid-img {
    top: 51%;
    left: 38%;
  }

  &__cardFunction {
    padding: 5px 30px;
  }

  &__cardFunction-border {
    border-bottom: 2px solid rgb(201, 196, 196);
    padding-bottom: 10px;
  }

  &__nav {
    border-top: 2px solid rgb(201, 196, 196);
  }

}